.snakemake/
racoon_clip/__pycache__/*
_updated.yaml
racoon_clip/test
racoon_clip/__pycache__/__main__.cpython-311.pyc
racoon_clip/__pycache__/util.cpython-311.pyc
racoon_clip/example_data/old/*
racoon_clip/example_data/example_annotation_human_chr21?*sjdbOverhang*
example_data/example_annotation_human_chr21/test_annotation_chr21*sjdbOverhang*
.DS_Store
.Rhistory
.Rproj.user/*
tests/report_test/test_report_eCLIP/*
.Rproj.user
racoon_clip.log
tests/test_config/.test/
tests/__pycache__/*
tests/test_installation_from_git/.test/*
*/*/__pycache__/
tests/test_dag/old/*
tests/.test/*
tests/expected_output/*/results/*
example_data/*/*_absolute_paths*.yaml
example_data/*/*_updated.yaml
tests/expected_output/*/*_absolute_paths*.yaml
tests/report_test/*/results/*
tests/report_test/inputs_for_report_test/*/*_absolute_paths*.yaml
logs/*
*.log
Dockerfile.old
Log.out
*Report.html
*.gtf
*.fa
example_data/example_mir_eCLIP/get_example_seqs.sh
example_data/example_annotation_mouse_chr19/make_example_annotation.sh
example_data/example_annotation_*/*_idx/*
example_data/example_annotation_*/*idx.chpnt
example_data/example_fastqscreen/*_absolute_paths.config
.devcontainer/*
example_data/*/*.fai
test/*

